name: Python
on:
  workflow_call:
  pull_request:
    paths:
      - "src/**"
      - ".github/workflows/**"
  push:
    branches:
      - master

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install linting and formatting dependencies
        run: python -m pip install '.[dev]'
      - name: Check formatting
        run: make checkformat
      # - name: Check linting
      #   run: make lint
      - name: Tests
        run: make test

      - name: Build sdist and wheel
        run: python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

  upload_pypi:
    needs: [build_dist]
    runs-on: ubuntu-latest
    # Upload to PyPI on release
    if: always() && github.event_name == 'release' && github.event.action == 'published'
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
